/*LeftColumn*/

.container_menu_age_leftColumn{
    padding: 1.563rem 1.25rem;
    margin-bottom: 1.563rem;
    background: #fff;
}
.menu_age_leftColumn a{
    color: inherit;
}
.item_menu_age_leftColumn{
    margin-bottom: 2%;
}
.item_menu_age_leftColumn img{
    margin-right: 2%;
}
.image-container {
    display: none;
}

.image-container.active {
    display: block;
}

.scroll-btn-leftColumn{
    cursor: pointer;
    background: none;
    border: none;
}


@media only screen and (max-width: 767px) {
    .menu_age_leftColumn a:nth-child(n+7) {
        display: none;
    }
    .scroll-btn-leftColumn{
        cursor: pointer;
        background: none;
        border: none;
    }
}
/*Fin bloc LeftColumn*/

/*Bloc menu/carousel home*/
.container_menu_age h3{
    text-align: center;
}

.menu_age {
    display: flex;
    overflow: hidden;
    
}

.menu_age a {
    color: inherit;
    transition: margin-right 0.3s ease;
    width: 10%;
}

.item_menu_age {
    display: flex;
	flex-direction: column;
	text-align: center;
    transform: translateX(0%);
}

.scroll-btn {
    cursor: pointer;
    background: none;
    border: none;
}
.left-btn {
	margin-right: auto;
	position: absolute;
	left: 14%;
	bottom: -113%;
}
.right-btn {
	margin-left: auto;
	position: absolute;
	right: 15%;
	bottom: -113%;
}

@media only screen and (max-width: 767px) {
    .right-btn {
        bottom: -313%;
        right: 0;
    }

    .left-btn {
        left: 0;
        bottom: -313%;
    }

    .menu_age a{
        box-sizing: border-box;
        width: 25%;
    }
}

/*Fin bloc menu/carousel home*/

/*Bloc ProductList */

.productList_container_byAge{
    text-align: center;
}
.productList_container_byAge img{
     width: 20%;
}

@media only screen and (max-width: 767px) {
    
}
/*Fin bloc*/