/* .carousel-container-2 {
    overflow: hidden;
    width: 100%;
}

.carousel-wrapper-2 {
    display: flex;
    width: 300%;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.carousel-item-2 {
    flex: 0 0 100%;
    box-sizing: border-box;
    scroll-snap-align: start;
}

.carousel-item img {
    width: 15%;
    height: auto;
} */

/*LeftColumn*/
#search_filter_age{
    padding: 1.563rem 1.25rem;
    margin-bottom: 1.563rem;
    background: #fff;
}

#search_filter_age section{
    padding-top: 0;
    text-align: center;
}

.productList_container_byAge{
    margin-top: 4%;
    text-align: center;
}

#search_filter_age section a{
    color: inherit;
}

#search_filter_age section .item_menu_age{
    display: block ruby;
    margin-bottom: 2%;
}
/*Fin bloc LeftColumn*/

/*Bloc menu/carousel home*/
.container_menu_age h3{
    text-align: center;
}

.menu_age {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    
}

.menu_age a {
    color: inherit;
    margin-right: -400px;
    transition: margin-right 0.3s ease;
}

.item_menu_age {
    display: flex;
	flex-direction: column;
	text-align: center;
	width: 10%;
    transform: translateX(120%);
}

.scroll-btn {
    cursor: pointer;
    background: none;
    border: none;
}
.left{
    margin-right: auto;
    position: absolute;
    left: -10%;
    bottom: 1%;
}
.right{
    margin-left: auto;
    position: absolute;
    right: -7%;
    bottom: 1%;
}

/*Fin bloc menu/carousel home*/